@model EventViewModel

@{
    ViewBag.Title = "Event Details";
    Layout = "_Layout";
}

<h2>@Model.Name</h2>
<span>@Model.Description</span>

<div class="container-fluid" id="participants">
</div>

@section Scripts
{
    <script>
        function renderParticipants(list) {
            var items = [];
            list.forEach(function (participant) {
                items.push($('<div>')
                    .addClass('col-sm-3')
                    .append(
                        $('<img>').attr('src', participant.photoUrl).addClass('img-responsive'),
                        participant.name
                    )
                );
            });
            $('#participants').html(items);
        }

        $(function() {
            renderParticipants(@Html.Raw(Json.Serialize(Model.Participants)));
            var connection = new signalR.HubConnection("/participants");
            connection.on('Update', function(list) {
                renderParticipants(list);
            });

            connection.start().then(function() {
                connection.invoke("JoinEventRoom", "@Model.Id");
            });
        });

    </script>
}
