@using FiiPrezent.Models
@model EventViewModel

@{
    ViewBag.Title = "Event";
    Layout = "_Layout";
}

<h2>@Model.Name</h2>
<span>@Model.Description</span>

<ol id="participants">
    @foreach (var p in @Model.Participants)
    {
        <li>@p</li>
    }
</ol>


@section Scripts
{
    <script>
        var participantsList = document.getElementById("participants");

        var connection = new signalR.HubConnection("/participants");

        function appendParticipant(name) {
            var li = document.createElement("li");
            li.innerText = name;
            participantsList.appendChild(li);
        }

        connection.on('Update', (list) => {

            list = JSON.parse(list);

            participantsList.innerHTML = "";
            list.forEach(function (el) {
                appendParticipant(el);
            });
        });

        connection.start().then(function () {
            var url = window.location.pathname;
            var id = url.substring(url.lastIndexOf("/") + 1);

            connection.invoke("Update", id);
        });

    </script>
}
