@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@model RsvpViewModel

@{
    ViewBag.Title = "Fii Prezent";
}

<div class="row">

    <div class="col-sm-4 col-sm-offset-4">
        <h2>Fii Prezent</h2>

        <form asp-controller="Home" asp-action="Index" method="post">
            <div class="form-group">
                <label asp-for="Name">Name</label>
                <input asp-for="Name" type="text" class="form-control" id="name" placeholder="Nume"
                       readonly="@(SignInManager.IsSignedIn(User) ? "readonly" : null)">
                <span asp-validation-for="Name"></span>
            </div>
            <div class="form-group">
                <label asp-for="Code">Super secret code</label>
                <input asp-for="Code" type="password" class="form-control" id="code" placeholder="Cod super secret">
                <span asp-validation-for="Code"></span>
            </div>
            <button type="submit" class="btn btn-default">Prezent</button>

        </form>

        @if (!SignInManager.IsSignedIn(User))
        {
            <form asp-action="ExternalLogin" asp-controller="Account" method="post" class="form-horizontal">
                <button type="submit"
                        value="Facebook" title="Log in using your Facebook account"
                        class="btn btn-default"
                        name="provider">
                    Log in with Facebook
                </button>
            </form>
        }
        else
        {
            <form asp-action="LogOut" asp-controller="Account" method="post" class="form-horizontal">
                <button type="submit"
                        value="LogOut" title="Sign Out"
                        class="btn btn-default" >
                    Sign Out
                </button>
            </form>
        }
    </div>


</div>
