@{
    ViewData["Title"] = "Prezent";
}

<div class="row">

    <div class="col-sm-4 col-sm-offset-4">
        <h2>Fii Prezent</h2>
        <form>
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" placeholder="Nume">
            </div>
            <div class="form-group">
                <label for="code">Super secret code</label>
                <input type="password" class="form-control" id="code" placeholder="Cod super secret">
            </div>
            <button type="submit" class="btn btn-default">Prezent</button>
        </form>
    </div>


</div>
